certifi==2019.9.11
cffi==1.13.2
chardet==3.0.4
cryptography==2.8
Django==2.2.5
idna==2.8
mkl-fft==1.0.12
mkl-random==1.0.2
numpy==1.16.4
OWSLib==0.18.0
pandas==0.25.1
pycparser==2.19
pyOpenSSL==19.0.0
pyproj==2.4.1
PySocks==1.7.1
python-dateutil==2.8.1
pytz==2019.3
requests==2.22.0
six==1.13.0
sqlparse==0.3.0
urllib3==1.25.6
win-inet-pton==1.1.0
wincertstore==0.2
