#mapid { height: 90vh; }

.sidebar {
    position: absolute;
	float: right;
    right: 0;
    top: 0;
    z-index: 9999;
    width: 35%;
}

.sidebar-content {
    height: 95vh;
    display: block;
    overflow-y: scroll;
}